.cache/
.tmp/
tmp/
temp/

.env
.env.*
!.env.example
*.env

*.db
*.db-*
*.sqlite
*.sqlite3

*password*
*passwd*
*secret*
*token*
*key*
!*.pub

*.log
*.pid
nohup.out

*.png
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
*.tiff
*.svg

*.tar
*.tar.gz
*.tgz
*.zip

spiritlhl_*_amd64.tar.gz
spiritlhl_*_arm64.tar.gz
Dockerfile_20*
