[Unit]
Description=Install ifupdown on next reboot
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/install_ifupdown.sh
ExecStartPost=/usr/bin/env reboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
