[Unit]
Description=ws-scrcpy
After=network.target

[Service]
WorkingDirectory=/root/ws-scrcpy
Environment="NODE_OPTIONS=--openssl-legacy-provider"
ExecStart=/usr/bin/npm start
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ws-scrcpy
Restart=on-failure

[Install]
WantedBy=multi-user.target
